{% set key = 'some_authentication_key' %}
{% set keyid = 'some_authentication_key_id' %}


mgmt_profile:
  key: {{ key }}
  keyid: {{ keyid }}
  region: 'us-west-1'
dev_profile:
  key: {{ key }}
  keyid: {{ keyid }}
  region: 'us-east-1'
prod_profile:
  key: {{ key }}
  keyid: {{ keyid }}
  region: 'us-east-2'
